# Eat Safe, Love

## Part 1: Database and Jupyter Notebook Set Up

Import the data provided in the `establishments.json` file from your Terminal. Name the database `uk_food` and the collection `establishments`.

Within this markdown cell, copy the line of text you used to import the data from your Terminal. This way, future analysts will be able to repeat your process.

e.g.: Import the dataset with `YOUR IMPORT TEXT HERE`

In [133]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint

In [143]:
!mongoimport --type json -d uk_food -c establishments --drop --jsonArray ../Resources/establishments.json

2023-11-21T00:02:40.566-0500	Failed: open ..\Resources\establishments.json: The system cannot find the path specified.
2023-11-21T00:02:40.567-0500	0 document(s) imported successfully. 0 document(s) failed to import.

In [135]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [136]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [137]:
# confirm that our new database was created
sample_collection = db['sample_collection']
sample_collection.insert_one({'example_key': 'example_value'})

print("New database 'uk_food' created successfully.")

New database 'uk_food' created successfully.

In [138]:
# review the collections in our new database
collections_list = db.list_collection_names()
pprint(collections_list)

['sample_collection', 'establishments']

In [139]:
# review the collections in our new database

# Access the establishments collection
establishments_collection = db['establishments']

# Retrieve and display a document from the collection
document = sample_collection.find_one()  # Retrieves a single document

# Display the retrieved document
if document:
    pprint(document)
else:
    print("No document found in the establishments collection.")

{'_id': ObjectId('655528f538bbf169cf22ba62'), 'example_key': 'example_value'}

In [83]:
# review a document in the establishments collection

In [140]:
# assign the collection to a variable
establishments = db['establishments']

## Part 2: Update the Database

1. An exciting new halal restaurant just opened in Greenwich, but hasn't been rated yet. The magazine has asked you to include it in your analysis. Add the following restaurant "Penang Flavours" to the database.

In [86]:
# Create a dictionary for the new restaurant data
#Penang_Flavours={}
# Create a dictionary for the new restaurant data
Penang_Flavours = {
    "name": "Delicious Bites",
    "cuisine": "Italian",
    "location": "123 Main Street, City",
    "ratings": {
        "overall": 4.5,
        "food": 4.7,
        "service": 4.3,
        "ambiance": 4.6
    },
    "reviews": [
        {
            "user": "User123",
            "comment": "Great food and atmosphere!",
            "rating": 4.5
        },
        {
            "user": "FoodieGirl",
            "comment": "Excellent pasta dishes!",
            "rating": 4.8
        }
    ]
}

In [87]:
# Insert the new restaurant into the collection
# Access the uk_food database
db = mongo['uk_food']

# Access the establishments collection
establishments_collection = db['establishments']

# Insert the new restaurant data into the collection
result = establishments_collection.insert_one(Penang_Flavours)

In [92]:
delicious_bites_restaurant = establishments_collection.find_one({"name": "Delicious Bites"})
delicious_bites_restaurant

{'_id': ObjectId('655c2c5a30e80883f6fb41e6'),
 'name': 'Delicious Bites',
 'cuisine': 'Italian',
 'location': '123 Main Street, City',
 'ratings': {'overall': 4.5, 'food': 4.7, 'service': 4.3, 'ambiance': 4.6},
 'reviews': [{'user': 'User123',
   'comment': 'Great food and atmosphere!',
   'rating': 4.5},
  {'user': 'FoodieGirl', 'comment': 'Excellent pasta dishes!', 'rating': 4.8}]}

2. Find the BusinessTypeID for "Restaurant/Cafe/Canteen" and return only the `BusinessTypeID` and `BusinessType` fields.

In [96]:
# Find the BusinessTypeID for "Restaurant/Cafe/Canteen" and return only the BusinessTypeID and BusinessType fields
# Find the BusinessTypeID for "Restaurant/Cafe/Canteen"
query = {"BusinessTypeID": "Restaurant/Cafe/Canteen"}

# Project only the BusinessTypeID and BusinessType fields
projection = {"BusinessTypeID": 1, "BusinessType": 1, "_id": 0}

business_type_info = establishments_collection.find_one(query, projection)
business_type_info

3. Update the new restaurant with the `BusinessTypeID` you found.

In [ ]:
# Update the new restaurant with the correct BusinessTypeID

In [ ]:
# Confirm that the new restaurant was updated

4. The magazine is not interested in any establishments in Dover, so check how many documents contain the Dover Local Authority. Then, remove any establishments within the Dover Local Authority from the database, and check the number of documents to ensure they were deleted.

In [ ]:
# Find how many documents have LocalAuthorityName as "Dover"

In [ ]:
# Delete all documents where LocalAuthorityName is "Dover"

In [ ]:
# Check if any remaining documents include Dover

In [ ]:
# Check that other documents remain with 'find_one'

5. Some of the number values are stored as strings, when they should be stored as numbers.

Use `update_many` to convert `latitude` and `longitude` to decimal numbers.

In [ ]:
# Change the data type from String to Decimal for longitude and latitude

Use `update_many` to convert `RatingValue` to integer numbers.

In [ ]:
# Set non 1-5 Rating Values to Null
non_ratings = ["AwaitingInspection", "Awaiting Inspection", "AwaitingPublication", "Pass", "Exempt"]
establishments.update_many({"RatingValue": {"$in": non_ratings}}, [ {'$set':{ "RatingValue" : None}} ])

In [ ]:
# Change the data type from String to Integer for RatingValue

In [ ]:
# Check that the coordinates and rating value are now numbers